/* 防止行動瀏覽器雙擊放大 */
button,
img {
    touch-action: manipulation;
}

.consonant-placeholder {
    background-image: url('images/consonant-placeholder.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 6rem;
}

@media (max-width: 575.98px) {
    .consonant-placeholder {
        height: 5rem;
    }
}

.vowel-placeholder {
    background-image: url('images/vowel-placeholder.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 6rem;
}

@media (max-width: 575.98px) {
    .vowel-placeholder {
        height: 5rem;
    }
}

.consonant-placeholder img,
.vowel-placeholder img {
    display: block;
    margin: 0 auto;
    height: 100%;
}

/*‧ㄙㄨㄚ垂直置中 */
#suah {
    writing-mode: vertical-lr;
    text-orientation: upright;
    white-space: nowrap;
}