button {
    touch-action: manipulation;
}

.consonant-placeholder {
    background-image: url('images/consonant-placeholder.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100px;
}

.vowel-placeholder {
    background-image: url('images/vowel-placeholder.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100px;
}

.consonant-placeholder img,
.vowel-placeholder img {
    display: block;
    margin: 0 auto;
    height: 100%;
}

#suah {
    writing-mode: vertical-lr;
    text-orientation: upright;
    white-space: nowrap;
}